@import '~styles.scss';

#home-component {
  /* width: 100%; */
  min-width: 700px;
  .main {
    width: 90%;
    max-width: $main-width;
    margin: auto;
    padding: 20px 10px;
    background-color: white;
  }
}
