<div id="dashboard-component">
  <div class="panel panel-default">
    <div class="panel-body">
      Hi, {{self.name}}!
      <!-- {{self.username}}
      {{self.gtID}}
      {{self.department.name}}
      {{self.role.name}} -->
    </div>
  </div>
  <div class="panel-wrapper">
    <div class="panel panel-default">
      <div class="panel-body">
        Latest messages from Student
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        Latest messages from Department
      </div>
    </div>
  </div>
  <div class="panel-wrapper">
    <div class="panel panel-default">
      <div class="panel-body">
        New Users
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        New Schools
      </div>
    </div>
  </div>


</div>
